
body {
    display: table;
    margin: 0;
    width: 100%;
}
#title {
    background-color: #333333;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 30px 0;
    text-align: center;
}
.headerWrapper {
    margin: auto;
    width: 960px;
}
.nav {
    display: table;
    margin: 0;
    padding: 15px 0;
}
.nav li {
    float: left;
    list-style: none outside none;
    width: 141px;
}
.nav li a {
    color: #333333;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 100;
    padding: 6px 40px;
    text-decoration: none;
}
.nav li a:hover {
    border-bottom: 2px solid #333333;
    border-top: 2px solid #333333;
    font-weight: 400;
}
#home_desc {
    background-image: url("/assets/home_image.jpg");
    background-repeat: no-repeat;
    height: 600px;
    margin: auto;
    width: 960px;
}
.image_text {
    color: #FFFFFF;
    float: right;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 100;
    height: 539px;
    line-height: 41px;
    margin-right: 70px;
    margin-top: 72px;
    right: 0;
    width: 150px;
}
#aboutContentWrapper {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
    margin: auto;
    text-align: justify;
    text-indent: 41px;
    width: 960px;
}
#aboutContentWrapper h3 {
    text-indent: 0;
}
.desc {
    float: left;
    width: 625px;
}
.sideTitle {
    float: right;
    width: 300px;
}
.siceNav {
    padding: 0;
}
.siceNav li {
    float: none;
    width: 300px;
}
.siceNav li a {
    border-left: 2px solid #FFFFFF;
    display: table;
    margin: 2px 0;
    padding-left: 41px;
    padding-right: 0;
    text-indent: 0;
}
.siceNav li a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #333333;
    border-image: none;
    border-style: none none none solid;
    border-width: medium medium medium 2px;
}
.sideTitle h3 {
    text-align: center;
}
#joinContentWrapper {
    background-image: url("/assets/join_image_2.jpg");
    background-repeat: no-repeat;
    display: table;
    height: 500px;
    margin: auto;
    width: 960px;
}
.joinImageTag {
    float: left;
    text-align: center;
    width: 450px;
}
#joinContentWrapper div {
    margin: 20px 0;
}
#joinContentWrapper form {
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
    float: left;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin-left: 35px;
    margin-top: 35px;
    padding: 25px 20px;
}
#joinContentWrapper input {
    display: table;
}
.field input {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin: 4px 0;
    padding: 5px 10px;
}
.actions {
    margin-top: 30px;
}
.actions input {
    background-color: #FFFFFF;
    border: medium none;
    border-radius: 3px;
    box-shadow: none;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 100;
    height: 30px;
    margin-top: 30px;
    padding: 5px 10px;
    width: 263px;
}
#notice {
    color: #FFFFFF;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
#notice_inner {
    background-color: rgba(255, 255, 255, 0.65);
    color: #333333;
    display: table-cell;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 100;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    width: 960px;
}
.notice_name {
    font-weight: 400;
}
.blog {
    float: left;
    width: 600px;
}
.blogWrapper {
    display: table;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
    margin: auto auto 50px;
    text-align: justify;
    width: 960px;
}
.blogTitle {
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0;
}
.blogTitle a {
    color: #333333;
    text-decoration: none;
}
.blogContent {
    height: 200px;
    overflow: hidden;
    text-indent: 40px;
}
.blogAuthor {
    float: right;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.blogOptions li {
    float: left;
    list-style: none outside none;
}
.blogOptions li a {
    border-bottom: 1px solid #FFFFFF;
    color: #808080;
    font-size: 14px;
    padding: 0 25px;
    text-decoration: none;
}
.blogOptions li a:hover {
    color: #000000;
}
.newBlog {
    clear: both;
    margin: 100px auto auto;
    width: 960px;
}
.newBlog > a {
    color: #333333;
    font-family: sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.blogOptions > ul {
    padding: 0;
}
#bloglist {
    display: table;
    float: left;
    width: 600px;
}
