<div class="headerWrapper">
	<h1 id="title">Stop voilence agaist Women</h1>
	<ul class="nav">
	    <li><%= link_to 'Home', 'home' %></li>
	    <li><%= link_to 'About', 'about' %></li>
	    <li><%= link_to 'Blog', 'blogs' %></li>
	    <li><%= link_to 'Join us', 'joins' %></li>
	</ul>
</div>
<div id="aboutContentWrapper">
	<div class="desc">
		<div id="#what">
			<h3>What?</h3>
			<p>The United Nations General Assembly (UNGA), in its resolution on the Declaration on the Elimination of Violence Against Women, defines "violence against women" as "any act of gender-based violence that results in, or is likely to result in, physical, sexual or mental harm or suffering to women, including threats of such acts, coercion or arbitrary deprivation of liberty, whether occurring in public or in private life." Also, the 1993 Declaration on the Elimination of Violence Against Women noted that this violence could be perpetrated by assailants of either gender from individual, communal to state levels.</p>	

			<p>In addition, the term 'gender-based violence' refers to "any acts or threats of acts intended to hurt or make women suffer physically, sexually or psychologically, and which affect women because they are women or affect women disproportionately." The definition of 'gender-based violence' is most often "used interchangeably with violence against women", and some articles on VAW reiterate these conceptions by suggesting that men are the main perpetrators of this violence. Moreover, the definition stated by the 1993 Declaration on the Elimination of Violence Against Women also introduced the notion that violence is rooted in the inequality between men and women when the term violence is used together with the term 'gender-based'.</p>
		</div>

		<div id="#rape">
			<h3>Rape</h3>
			<p>Rape is a type of sexual assault usually involving sexual intercourse, which is initiated by one or more persons against another person without that person's consent. The act may be carried out by physical force, coercion, abuse of authority or with a person who is incapable of valid consent, such as one who is unconscious, incapacitated, or below the legal age of consent.</p>

			<p>Internationally, the incidence of rapes recorded by the police during 2008 varied between 0.1 in Egypt per 100,000 people and 91.6 per 100,000 people in Lesotho with 4.9 per 100,000 people in Lithuania as the median. According to the American Medical Association (1995), sexual violence, and rape in particular, is considered the most underreported violent crime. The rate of reporting, prosecution and convictions for rape varies considerably in different jurisdictions. Rape by strangers is usually less common than rape by persons the victim knows.</p>
		</div>

		<div id="#domestic">
			<h3>Domestic violence</h3>
			<p>
				Women are more likely to be victimized by someone that they are intimate with, commonly called "Intimate Partner Violence" or (IPV). Instances of IPV tend not to be reported to police and thus many experts believe that the true magnitude of the problem is hard to estimate.[83] Women are much more likely than men to be murdered by an intimate partner. In the United States, in 2005, 1181 women, in comparison with 329 men, were killed by their intimate partners. In England and Wales about 100 women are killed by partners or former partners each year while 21 men were killed in 2010. In 2008, in France, 156 women in comparison with 27 men were killed by their intimate partner.
			</p>
		</div>

		<div id="#mob">
			<h3>Mob violence</h3>
			<p>
				In 2010 Amnesty International reported that mob attacks against single women were taking place in Hassi Messaoud, Algeria. According to Amnesty International, "some women have been sexually abused" and were targeted "not just because they are women, but because they are living alone and are economically independent."
			</p>
		</div>

		<div id="#rape">
			<h3>Mob violence</h3>
			<p>
				In 2010 Amnesty International reported that mob attacks against single women were taking place in Hassi Messaoud, Algeria. According to Amnesty International, "some women have been sexually abused" and were targeted "not just because they are women, but because they are living alone and are economically independent."
			</p>
		</div>
    </div>
    <div class="sideTitle">
    	<h3>Titles</h3>
    	<ul class="nav siceNav">
    		<li><a href="#what">What?</a></li>
    		<li><a href="#rape">Rape</a></li>
    		<li><a href="#domestic">Domestic violence</a></li>
    		<li><a href="#mob">Mob violence</a></li>
    	</ul>
    </div>
</div>