<div class="headerWrapper">
	<h1 id="title">Stop voilence against Women</h1>
	<ul class="nav">
	    <li><%= link_to 'Home', 'home' %></li>
	    <li><%= link_to 'About', 'about' %></li>
	    <li><%= link_to 'Blog', 'blogs' %></li>
	    <li><%= link_to 'Join us', 'joins' %></li>
	</ul>
</div>
<div id="aboutContentWrapper">
	<div class="desc">
		<div id="#what">
		<a id="what"><h3>What?</h3></a>
			<p>The United Nations General Assembly (UNGA), in its resolution on the Declaration on the Elimination of Violence Against Women, defines "violence against women" as "any act of gender-based violence that results in, or is likely to result in, physical, sexual or mental harm or suffering to women, including threats of such acts, coercion or arbitrary deprivation of liberty, whether occurring in public or in private life." Also, the 1993 Declaration on the Elimination of Violence Against Women noted that this violence could be perpetrated by assailants of either gender from individual, communal to state levels.</p>	

			<p>In addition, the term 'gender-based violence' refers to "any acts or threats of acts intended to hurt or make women suffer physically, sexually or psychologically, and which affect women because they are women or affect women disproportionately." The definition of 'gender-based violence' is most often "used interchangeably with violence against women", and some articles on VAW reiterate these conceptions by suggesting that men are the main perpetrators of this violence. Moreover, the definition stated by the 1993 Declaration on the Elimination of Violence Against Women also introduced the notion that violence is rooted in the inequality between men and women when the term violence is used together with the term 'gender-based'.</p>
		</div>

		<div id="#rape">
			<a id="rape"><h3>Rape</h3></a>
			<p>Rape is a type of sexual assault usually involving sexual intercourse, which is initiated by one or more persons against another person without that person's consent. The act may be carried out by physical force, coercion, abuse of authority or with a person who is incapable of valid consent, such as one who is unconscious, incapacitated, or below the legal age of consent.</p>

			<p>Internationally, the incidence of rapes recorded by the police during 2008 varied between 0.1 in Egypt per 100,000 people and 91.6 per 100,000 people in Lesotho with 4.9 per 100,000 people in Lithuania as the median. According to the American Medical Association (1995), sexual violence, and rape in particular, is considered the most underreported violent crime. The rate of reporting, prosecution and convictions for rape varies considerably in different jurisdictions. Rape by strangers is usually less common than rape by persons the victim knows.</p>
		</div></a>
		<div id="#domestic">
			<a id="domestic"><h3>Domestic violence</h3></a>
			<p>
				Women are more likely to be victimized by someone that they are intimate with, commonly called "Intimate Partner Violence" or (IPV). Instances of IPV tend not to be reported to police and thus many experts believe that the true magnitude of the problem is hard to estimate.[83] Women are much more likely than men to be murdered by an intimate partner. In the United States, in 2005, 1181 women, in comparison with 329 men, were killed by their intimate partners. In England and Wales about 100 women are killed by partners or former partners each year while 21 men were killed in 2010. In 2008, in France, 156 women in comparison with 27 men were killed by their intimate partner.
			</p>
		</div>

		<div id="#mob">
			<a id="mob"><h3>Mob violence</h3></a>
			<p>
				In 2010 Amnesty International reported that mob attacks against single women were taking place in Hassi Messaoud, Algeria. According to Amnesty International, "some women have been sexually abused" and were targeted "not just because they are women, but because they are living alone and are economically independent."
			</p>
		</div>

		<div id="#rape">
			<a id="stalking"><h3>Stalking</h3></a>
			<p>
				Stalking is unwanted or obsessive attention by an individual or group toward another person, often manifested through persistent harassment, intimidation, or following/monitoring of the victim. Stalking is often understood as "course of conduct directed at a specific person that would cause a reasonable person to feel fear". Although stalkers are frequently portrayed as being strangers, they are most often known people, such as former or current partners, friends, colleagues or acquaintances. In the US, a survey by NVAW found that only 23% of female victims were stalked by strangers.[135] Stalking by partners can be very dangerous, as sometimes it can escalate into severe violence, including murder.[135] Police statistics from the 1990s in Australia indicated that 87.7% of stalking offenders were male and 82.4% of stalking victims were female.
			</p>
		</div>

		<div id="#rape">
			<a id="sexualharassment"><h3>Sexual harassment</h3></a>
			<p>
				Sexual harassment is abusive, uninvited and unwelcome behavior of a sexual nature, typically in the work/studying place, which may include intimidation, bullying or coercion of a sexual nature, or the inappropriate promise of rewards in exchange for sexual favors. It can be verbal or physical, and it is often perpetrated by a person in a position of authority against a subordinate. In the United States, sexual harassment is a form of discrimination which violates Title VII of the Civil Rights Act of 1964. The Council of Europe Convention on preventing and combating violence against women and domestic violence defines sexual harassment as: "any form of unwanted verbal, non-verbal or physical conduct of a sexual nature with the purpose or effect of violating the dignity of a person, in particular when creating an intimidating, hostile, degrading, humiliating or offensive environment."
			</p>
		</div>

		<div id="#rape">
			<a id="human"><h3>Human trafficking and forced prostitution</h3></a>
			<p>
				"Trafficking in persons" shall mean the recruitment, transportation, transfer, harbouring or receipt of persons, by means of the threat or use of force or other forms of coercion, of abduction, of fraud, of deception, of the abuse of power or of a position of vulnerability or of the giving or receiving of payments or benefits to achieve the consent of a person having control over another person, for the purpose of exploitation. Exploitation shall include, at a minimum, the exploitation of the prostitution of others or other forms of sexual exploitation, forced labour or services, slavery or practices similar to slavery, servitude or the removal of organs".
			</p>
		</div>
		<div id="#rape">
			<a id="mistreatmentofwidows"><h3>Mistreatment of widows</h3></a>
			<p>
				"Trafficking in persons" shall mean the recruitment, transportation, transfer, harbouring or receipt of persons, by means of the threat or use of force or other forms of coercion, of abduction, of fraud, of deception, of the abuse of power or of a position of vulnerability or of the giving or receiving of payments or benefits to achieve the consent of a person having control over another person, for the purpose of exploitation. Exploitation shall include, at a minimum, the exploitation of the prostitution of others or other forms of sexual exploitation, forced labour or services, slavery or practices similar to slavery, servitude or the removal of organs".
			</p>
		</div>
		<div id="#rape">
			<a id="accusedofwitchcraft"><h3>Accused of witchcraft</h3></a>
			<p>
				"Trafficking in persons" shall mean the recruitment, transportation, transfer, harbouring or receipt of persons, by means of the threat or use of force or other forms of coercion, of abduction, of fraud, of deception, of the abuse of power or of a position of vulnerability or of the giving or receiving of payments or benefits to achieve the consent of a person having control over another person, for the purpose of exploitation. Exploitation shall include, at a minimum, the exploitation of the prostitution of others or other forms of sexual exploitation, forced labour or services, slavery or practices similar to slavery, servitude or the removal of organs".
			</p>
		</div>
		<div id="#rape">
			<a id="stateviolence"><h3>State violence</h3></a>
			<p>
				War rapes are rapes committed by soldiers, other combatants or civilians during armed conflict or war, or during military occupation, distinguished from sexual assaults and rape committed amongst troops in military service. It also covers the situation where women are forced into prostitution or sexual slavery by an occupying power. During World War II the Japanese military established brothels filled with "comfort women", girls and women who were forced into sexual slavery for soldiers, exploiting women for the purpose of creating access and entitlement for men.
			</p>
		</div>
		<div id="#rape">
			<a id="femalegenitalmutilation"><h3>Female genital mutilation</h3></a>
			<p>
				Female genital mutilation (FGM) is defined by the World Health Organization (WHO) as "all procedures that involve partial or total removal of the external female genitalia, or other injury to the female genital organs for non-medical reasons."[182] According to a 2013 UNICEF report, 125 million women and girls in Africa and the Middle East have experienced FGM. The WHO states that: "The procedure has no health benefits for girls and women" and "Procedures can cause severe bleeding and problems urinating, and later cysts, infections, infertility as well as complications in childbirth increased risk of newborn deaths" and "FGM is recognized internationally as a violation of the human rights of girls and women. It reflects deep-rooted inequality between the sexes, and constitutes an extreme form of discrimination against women". According to a UNICEF report, the top rates for FGM are in Somalia (with 98 percent of women affected), Guinea (96 percent), Djibouti (93 percent), Egypt (91 percent), Eritrea (89 percent), Mali (89 percent), Sierra Leone (88 percent), Sudan (88 percent), Gambia (76 percent), Burkina Faso (76 percent), Ethiopia (74 percent), Mauritania (69 percent), Liberia (66 percent), and Guinea-Bissau (50 percent).
			</p>
		</div>
		<div id="#rape">
			<a id="breastironing"><h3>Breast ironing</h3></a>
			<p>
				Female genital mutilation (FGM) is defined by the World Health Organization (WHO) as "all procedures that involve partial or total removal of the external female genitalia, or other injury to the female genital organs for non-medical reasons."[182] According to a 2013 UNICEF report, 125 million women and girls in Africa and the Middle East have experienced FGM. The WHO states that: "The procedure has no health benefits for girls and women" and "Procedures can cause severe bleeding and problems urinating, and later cysts, infections, infertility as well as complications in childbirth increased risk of newborn deaths" and "FGM is recognized internationally as a violation of the human rights of girls and women. It reflects deep-rooted inequality between the sexes, and constitutes an extreme form of discrimination against women". According to a UNICEF report, the top rates for FGM are in Somalia (with 98 percent of women affected), Guinea (96 percent), Djibouti (93 percent), Egypt (91 percent), Eritrea (89 percent), Mali (89 percent), Sierra Leone (88 percent), Sudan (88 percent), Gambia (76 percent), Burkina Faso (76 percent), Ethiopia (74 percent), Mauritania (69 percent), Liberia (66 percent), and Guinea-Bissau (50 percent).
			</p>
		</div>
		<div id="#rape">
			<a id="obstetricviolence"><h3>Obstetric violence</h3></a>
			<p>
				“Obstetric violence” refers to acts categorized as physically or psychologically violent in the context of labor and birth. In most developed and many developing countries, birth takes place in an increasingly medicalized environment; with numerous surgical interventions that women can sometimes be coerced into accepting, or which are done without her consent. Medicalized birthing practices and interventions such as Caesarean sections, episiotomies and hormonal birth induction; which should normally be restricted to only a minority of cases where risks for the mother are clear, are increasingly being used during births that could otherwise take place naturally. Some organizations and scholars consider this a violent act against the woman and her child.
			</p>
		</div>
		<div id="#rape">
			<a id="sportrelatedviolenceagainstwomen"><h3>Sport-related violence against women</h3></a>
			<p>
				Sport-related violence against women refers to any physical, sexual, mental acts that are “perpetrated by both male athletes and by male fans or consumers of sport and sporting events, as well as by coaches of female athletes”.</p>

				<p>The documenting reports and literature suggest that there are obvious connections between contemporary sport and violence against women. Such events as the 2010 World Cup, the Olympic and Commonwealth Games “have highlighted the connections between sports spectatorship and intimate partner violence, and the need for police, authorities and services to be aware of this when planning sporting events”.</p>

				<p>Sport-related violence can occur in various contexts and places, including homes, pubs, clubs, hotel rooms, the streets.
			</p>
		</div>
    </div>
    <div class="sideTitle">
    	<h3>Titles</h3>
    	<ul class="nav siceNav">
    		<li><a href="#what">What?</a></li>
    		<li><a href="#rape">Rape</a></li>
    		<li><a href="#domestic">Domestic violence</a></li>
    		<li><a href="#mob">Mob violence</a></li>
    		<li><a href="#stalking">Stalking</a></li>
    		<li><a href="#sexualharassment">Sexual harassment</a></li>
    		<li><a href="#human">Human trafficking and forced prostitution</a></li>
    		<li><a href="#mistreatmentofwidows">Mistreatment of widows</a></li>
    		<li><a href="#accusedofwitchcraft">Accused of witchcraft</a></li>
    		<li><a href="#stateviolence">State violence</a></li>
    		<li><a href="#femalegenitalmutilation">Female genital mutilation</a></li>
    		<li><a href="#breastironing">Breast ironing</a></li>
    		<li><a href="#obstetricviolence">Obstetric violence</a></li>
    		<li><a href="#sportrelatedviolenceagainstwomen">Sport-related violence against women</a></li>
    	</ul>
    </div>
</div>