<div class="headerWrapper">
	<h1 id="title">Stop voilence agaist Women</h1>
	<ul class="nav">
		<li><%= link_to 'Home', 'home' %></li>
		<li><%= link_to 'About', 'about' %></li>
		<li><%= link_to 'Blog', 'stat' %></li>
		<li><%= link_to 'Join us', 'join' %></li>
	</ul>
</div>
<div id="aboutContentWrapper">
	<div class="desc">
		<h3>What?</h3>
		<p>Conditioned upon Your compliance with section below and subject to third party intellectual property claims, the Initial Developer hereby grants You a world-wide, royalty-free, non-exclusive licenseUnder intellectual property rights other than patent or trademark Licensable by Initial Developer, to use, reproduce, modify, display, perform, sublicense and distribute the Original Software or portions thereof, with or without Modifications, and/or as part of a Larger Work.</p>	

		<h3>Why?</h3>
	    <p>Under Patent Claims infringed by the making, using or selling of Original Software, to make have made use, practice sell and offer for sale. The licenses granted in Sections and are effective on the date Initial Developer first distributes or otherwise makes the Original Software available to a third party under the terms of this License. And or otherwise dispose of the Original Software or portions thereof.</p>	

	    <p>The licenses granted in Sections and are effective on the date Initial Developer first distributes or otherwise makes the Original Software available to a third party under the terms of this License.</p>
    </div>
    <div class="sideTitle">
    	<h3>Titles</h3>
    	<ul class="nav siceNav">
    		<li><a href="">aaaaaaaaa</a></li>
    	</ul>
    </div>
</div>