<div class="headerWrapper">
	<h1 id="title">Stop voilence against Women</h1>
	<ul class="nav">
	    <li><%= link_to 'Home', 'home' %></li>
	    <li><%= link_to 'About', 'about' %></li>
	    <li><%= link_to 'Blog', 'blogs' %></li>
	    <li><%= link_to 'Join us', 'joins' %></li>
	</ul>
</div>
<div id="home_desc">
	<div class="image_text">
		Men are afraid that women will laugh at them. Women are afraid that men will kill them. 
	</div>
</div>